# Ambientes virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Testes e ferramentas
.pytest_cache/
.coverage
htmlcov/

# Editores e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
